---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import WorkingExp from "../components/WorkingExp.astro";
import InternshipExp from "../components/InternshipExp.astro";
import '../styles/global.css';

const headerInfo = {
	name: "汤卓轩",
	name_en: "Zhuoxuan Tang",
	post: "前端开发工程师",
	base: "广州",
	gender: "男",
	birth: "1996.04",
	university: "广东医科大学",
	major: "信息管理与信息系统",
	education: "本科",
	graduation: "毕业于 2018",
	blog: {
		text: "Nauxscript",
		preText: "Blog · ",
		value: "https://Nauxscript.gitee.io",
	},
	gitee: {
		text: "Nauxscript",
		preText: "Gitee · ",
		value: "https://gitee.com/Nauxscript",
	},
	github: {
		text: "Nauxscript",
		preText: "Github · ",
		value: "",
	},
	mail: {
		text: "nauxscript@gmail.com",
		preText: "",
		value: "nauxscript@gmail.com",
	},
	tel: {
		text: "153****1980 (8am - 8pm)",
		preText: "",
		value: "15384451980 (8am - 8pm)",
	},
};

---

<Layout title="Rusume">
	<main
		class="resume-main h-full w-full flex justify-center items-start sm:py-12 bg-gray-100 bg-backgrondimg dark:bg-gray-600 dark:bg-dark-backgrondimg relative"
	>
		<!-- <h2 class="text-red">Astro project base in Unocss</h2> -->
		<div
			id="print-content"
			class="resume-content flex flex-col justify-start items-center rounded-md overflow-hidden shadow-md"
		>
			<Header baseInfo={headerInfo}></Header>
			<div class="resume-body dark:bg-gray-700 bg-white flex flex-col sm:flex-row print:flex-row flex-1 w-full px-8">
				<div class="section-col flex flex-col items-start w-full print:block sm:w-1/2 print:w-1/2">
					<WorkingExp></WorkingExp>
					<InternshipExp></InternshipExp>
				</div>
				<div class="section-col flex flex-col items-start w-full sm:w-1/2 print:w-1/2">
					<!-- <%- require('./layouts/skills.ejs')({skills}) %> -->
					<!-- <%- require('./layouts/selfProjects.ejs')({selfProjects}) %> -->
				</div>
			</div>
		</div>
	</main>
</Layout>
