---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import WorkingExp from "../components/WorkingExp.astro";
import InternshipExp from "../components/InternshipExp.astro";
import Skills from "../components/Skills.astro";
import SelfProjects from "../components/SelfProjects.astro";
import MobileControl from "../components/MobileControl.astro";
import PcControl from "../components/PcControl.astro";

// import '../utils/index';

const headerInfo = {
	name: "汤卓轩",
	name_en: "Zhuoxuan Tang",
	post: "前端开发工程师",
	base: "广州",
	gender: "男",
	birth: "1996.04",
	university: "广东医科大学",
	major: "信息管理与信息系统",
	education: "本科",
	graduation: "毕业于 2018",
	blog: {
		text: "Nauxscript",
		preText: "Blog · ",
		value: "https://Nauxscript.gitee.io",
	},
	gitee: {
		text: "Nauxscript",
		preText: "Gitee · ",
		value: "https://gitee.com/Nauxscript",
	},
	github: {
		text: "Nauxscript",
		preText: "Github · ",
		value: "",
	},
	mail: {
		text: "nauxscript@gmail.com",
		preText: "",
		value: "nauxscript@gmail.com",
	},
	tel: {
		text: "153****1980 (8am - 8pm)",
		preText: "",
		value: "15384451980 (8am - 8pm)",
	},
};
---

<script is:inline>
	// darkmode
	window.onload = () => {
		if (
			localStorage.theme === "dark" ||
			(!("theme" in localStorage) &&
				window.matchMedia("(prefers-color-scheme: dark)").matches)
		) {
			document.querySelector("html")?.classList.add("dark");
		} else {
			document.querySelector("html")?.classList.remove("dark");
		}

		const darkModeBtn = document.getElementById("toggleDarkMode");
		darkModeBtn && darkModeBtn.addEventListener("click", darkAndLight);

		const switchBtn = document.getElementById("switch");
		switchBtn && switchBtn.addEventListener("click", darkAndLight);

		// print
		const printBtn = document.getElementById("print");
		printBtn && printBtn.addEventListener("click", printResume);

		const pdfBtn = document.getElementById("pdfFile");
		pdfBtn && pdfBtn.addEventListener("click", printResume);
	};

	function darkAndLight(e: MouseEvent) {
		if (
			localStorage.theme === "dark" ||
			(!("theme" in localStorage) &&
				window.matchMedia("(prefers-color-scheme: dark)").matches)
		) {
			document.querySelector("html")?.classList.remove("dark");
			localStorage.theme = "light";
		} else {
			document.documentElement.classList.add("dark");
			localStorage.theme = "dark";
		}
	}

	function printResume() {
		// determine whether the iframe exists, create new one if not
		let iframe:HTMLIFrameElement = document.getElementById("print-iframe") as HTMLIFrameElement;
		if (!iframe) {
			const el = document.getElementById("print-content");
			if (!el) {
				console.error('Element with id [print-content] is not exist!');
				return
			}

			iframe = document.createElement("IFRAME") as HTMLIFrameElement;
			iframe.setAttribute("id", "print-iframe");
			document.body.appendChild(iframe);
			if (!iframe.contentWindow) {
				console.error('Iframe content window object is undefined!');
				return
			}
			const doc = iframe.contentWindow.document;
			iframe.style.display = "none";
			// insert style stuff
			if (!doc) {
				console.error('Doc element is not exist!');
				return
			};
			doc.write();
			const styles = document.getElementsByTagName("style");
			const stylesheets = document.styleSheets;
			const sheetsArr = Array.from(stylesheets);
			const styleArr = Array.from(styles);

			// in dev environment, css code will insert into html by <style> tag,
			// but in prod environment, its will be generated to css file and insert by <link> tag. 

			// dev environment
			styleArr.length &&
				styleArr.forEach((style) => {
					doc.write(style.outerHTML);
				});
			
			// prod environment
			sheetsArr.length &&
				sheetsArr.forEach((sheet) => {
					doc.write(`<link rel="stylesheet" href="${sheet.href}">`)	
				});

			doc.write('<style media="print">body {zoom: 0.8 !important;}</style>');
			doc.write("<body>" + el.innerHTML + "</body>");
			doc.close();
			iframe.contentWindow.focus();
		}

		// fixed the problem of losing style in first time rendering
		setTimeout(function () {
			iframe.contentWindow!.print();
		}, 50);

		// compatible with IE，I won't, fuck IE.
		// if (navigator.userAgent.indexOf("MSIE") > 0){
		//   document.body.removeChild(iframe);
		// }
	}
</script>

<Layout title="Rusume">
	<main
		class="resume-main h-full w-full flex justify-center items-start sm:py-12 bg-gray-100 bg-backgrondimg dark:bg-gray-600 dark:bg-dark-backgrondimg relative"
	>
		<MobileControl />
		<div
			id="print-content"
			class="resume-content flex flex-col justify-start items-center rounded-md overflow-hidden shadow-md"
		>
			<Header baseInfo={headerInfo} />
			<div
				class="resume-body dark:bg-gray-700 bg-white flex flex-col sm:flex-row print:flex-row flex-1 w-full px-8"
			>
				<div
					class="section-col flex flex-col items-start w-full print:block sm:w-1/2 print:w-1/2"
				>
					<WorkingExp />
					<InternshipExp />
				</div>
				<div
					class="section-col flex flex-col items-start w-full sm:w-1/2 print:w-1/2"
				>
					<Skills />
					<SelfProjects />
				</div>
			</div>
		</div>
		<PcControl />
	</main>
</Layout>
