---
import type { WorkingExpData } from "../types";
import Project from './Project.astro';

export interface Props {
  companyInfo: WorkingExpData
}

const props = Astro.props as Props
---

<div class="company flex flex-col sm:flex-row sm:justify-between print:flex-row print:justify-between py-2 dark:text-gray-100">
  <span class="company-time sm:w-1/3 print:w-1/3">{props.companyInfo.time}</span>
  <div class="flex flex-1 justify-between ">
    <a href={ props.companyInfo.link ? props.companyInfo.link : '' } target="_blank" class="company-name hover:text-blue-400 transition-colors">{props.companyInfo.name}</a>
    <span class={`company-type ${props.companyInfo.type ? '' : 'hidden'}`}>{props.companyInfo.type}</span>
  </div>
</div>
{
  props.companyInfo.projects.map(item => (
    <Project projectInfo={item}></Project>
  ))
}
