<div id="switch" class="switch flex sm:hidden w-16 h-8 box-content bg-gray-100 dark:bg-blue-400 shadow-xl border border-blue-300 rounded-full absolute top-2 right-2">
  <div class="trigger h-8 w-8 bg-white absolute flex justify-center items-center rounded-full shadow-md left-0 dark:left-8 transition-all">
    <i class="i-mdi-moon-waxing-crescent dark:i-mdi-white-balance-sunny text-base leading-none text-blue-400"></i>
  </div>
</div>