<div class="btn-group fixed">
  <div id="pdfFile" class="me-button" style="display: none;">
    <i class="i-mdi-file-pdf-box text-2xl"></i>
  </div>
  <div id="print" class="me-button">
    <i class="i-mdi-printer text-2xl"></i>
  </div>
  <div id="toggleDarkMode" class="me-button">
    <i class="i-mdi-moon-waxing-crescent dark:i-mdi-white-balance-sunny text-2xl"></i>
  </div>
</div>